<span class="radioClass">Show: </span>
&nbsp;&nbsp;
<input type="radio" name="options" value="All" [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"All(" + all + ")"}}</span>
&nbsp;&nbsp;
<input type="radio" name="options" value="solid" [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"Solid(" + solid + ")"}}</span>
&nbsp;&nbsp;
<input type="radio" name="options" value="liquid" [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"Liquid(" + liquid + ")"}}</span>
&nbsp;&nbsp;
<input type="radio" name="options" value="gas" [(ngModel)]="selectedRadioButtonValue"
    (change)="onRadioButtonSelectionChange()" />
<span class="radioClass">{{"Gas(" + gas + ")"}}</span>
