<form #elementForm="ngForm" (ngSubmit)="saveElement(elementForm)">

    <table border="1" style="border-collapse:collapse; font-family:Arial; table-layout: fixed" [hidden]="unhideFormValidationProperties()">
        <tr style="background-color: rgb(170, 120, 12);">
            <td colspan="3" style="padding: 3px; white-space: nowrap; width: 100%">
                <p style="font-weight: bold; color: white; font-size: 30px">Form Properties - Create Element</p>
            </td>
        </tr>
        <tr style="background-color: rgb(212, 149, 13); font-weight: bold; color: white; font-size: 25px">
            <td style="padding: 10px; white-space: nowrap; width: 33%">
                <div>touched: {{elementForm.touched}}</div>
                <div>untouched: {{elementForm.untouched}}</div>
            </td>
            <td style="padding: 10px; white-space: nowrap; width: 33%">
                <div>pristine: {{elementForm.pristine}}</div>
                <div>dirty: {{elementForm.dirty}}</div>
            </td>
            <td style="padding: 10px; white-space: nowrap; width: 33%">
                <div>valid: {{elementForm.valid}}</div>
                <div>invalid: {{elementForm.invalid}}</div>
            </td>
        </tr>
    </table>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Element</h3>
        </div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="elementNameControl.invalid && elementNameControl.touched" [class.has-success]="elementNameControl.valid">
                <label for="elementName" class="control-label">Element Name</label>
                <input required id="elementName" name="elementName" [(ngModel)]="newElement.element_name" type="text" class="form-control" #elementNameControl="ngModel">
                <span class="help-block" *ngIf="elementNameControl.invalid && elementNameControl.touched">The Element Name is required!</span>
            </div>

            <div class="form-group" [class.has-error]="elementNumberControl.invalid && elementNumberControl.touched" [class.has-success]="elementNumberControl.valid">
                <label for="elementNumber" class="control-label">Atomic Number</label>
                <input required id="elementNumber" name="elementNumber" [(ngModel)]="newElement.atomic_number" type="text" class="form-control" #elementNumberControl="ngModel">
                <span class="help-block" *ngIf="elementNumberControl.invalid && elementNumberControl.touched">The Atomic Number is required!</span>
            </div>

            <div class="form-group" [class.has-error]="elementWeightControl.invalid && elementWeightControl.touched" [class.has-success]="elementWeightControl.valid">
                <label for="elementWeight" class="control-label">Atomic Weight</label>
                <input required id="elementWeight" name="elementWeight" [(ngModel)]="newElement.atomic_weight" type="text" class="form-control" #elementWeightControl="ngModel">
                <span class="help-block" *ngIf="elementWeightControl.invalid && elementWeightControl.touched">The Atomic Weight is required!</span>
            </div>

            <div class="form-group" [class.has-error]="elementSymbolControl.invalid && elementSymbolControl.touched" [class.has-success]="elementSymbolControl.valid">
                <label for="elementSymbol" class="control-label">Atomic Symbol</label>
                <input required id="elementSymbol" name="elementSymbol" [(ngModel)]="newElement.element_symbol" type="text" class="form-control" #elementSymbolControl="ngModel">
                <span class="help-block" *ngIf="elementSymbolControl.invalid && elementSymbolControl.touched">The Atomic Symbol is required!</span>
            </div>

            <div class="form-group" [class.has-error]="elementStateControl.invalid && elementStateControl.touched" [class.has-success]="elementStateControl.valid">
                <label for="elementState" class="control-label">Element State</label>
                <!-- <input id="elementState" name="elementState" [(ngModel)]="elementState" type="text" class="form-control"> -->
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" required value="solid" name="elementState" [(ngModel)]="newElement.element_state" #elementStateControl="ngModel">
                        Solid
                    </label>      
                    <label class="radio-inline">
                        <input type="radio" required value="liquid" name="elementState" [(ngModel)]="newElement.element_state" #elementStateControl="ngModel">
                        Liquid
                    </label>
                    <label class="radio-inline">
                        <input type="radio" required value="gas" name="elementState" [(ngModel)]="newElement.element_state" #elementStateControl="ngModel">
                        Gas
                    </label>
                </div>
                <span class="help-block" *ngIf="elementStateControl.invalid && elementStateControl.touched">The Element State is required!</span>
            </div>

            <div class="form-group" [class.has-error]="elementGroupControl.invalid && elementGroupControl.touched" [class.has-success]="elementGroupControl.valid">
                <label for="elementGroup" class="control-label">Element Group</label>
                <input required id="elementGroup" name="elementGroup" [(ngModel)]="newElement.element_group" type="text" class="form-control" #elementGroupControl="ngModel">
                <span class="help-block" *ngIf="elementGroupControl.invalid && elementGroupControl.touched">The Element Group is required!</span>
            </div>

            <div class="form-group" [class.has-error]="elementDiscoveryControl.invalid && elementDiscoveryControl.touched" [class.has-success]="elementDiscoveryControl.valid">
                <label for="elementDiscovery" class="control-label">Year of Discovery</label>
                <input required id="elementDiscovery" name="elementDiscovery" [(ngModel)]="newElement.element_discovery" type="text" class="form-control" #elementDiscoveryControl="ngModel">
                <span class="help-block" *ngIf="elementDiscoveryControl.invalid && elementDiscoveryControl.touched">The Year of Discovery is required!</span>
            </div>

        </div>
        <div class="panel-footer">
            <button (click)='onClick()' type="submit" class="btn-primary" [ngClass]='addCSSClasses()' [disabled]="elementForm.invalid">Save</button>
        </div>
    </div>
</form>

The Element Form: {{ elementForm.value | json}}
<br/>
<br/>
The Element Model: {{ newElement | json}}

