<div>
    <button (click)='toggleView()' type="submit" class="btn-primary">Switch to {{tableView? 'Table' : 'Card'}}
        View</button>
    <br /><br />
</div>
<div [hidden]="!tableView">
    <div class="panel panel-primary" *ngFor="let employee of employees">
        <app-employee-card-view [employee]="employee"> </app-employee-card-view>
    </div>
</div>
<div [hidden]="tableView">
    <app-employee-table-view [employees]="employees"> </app-employee-table-view>
</div>