.imageClass{
    width: 200px;
    height: 200px;
}

.vertical-align{
    display: flex;
    align-items: center;
}

.imageClassTable{
    width: 100px;
    height: 100px;
}

th, tr{
    text-align: center;
    font-size: 20px;
}

div {
    font-size: 20px;
}

h3 {
    font-size: 25px;
}
