<div class="panel panel-primary">
    <div class="panel-heading">
        <h3 class="panel-title">{{employee.firstName}} {{employee.middleInitial}} {{employee.lastName |
            employeeClearance:employee.department}}</h3>
    </div>
    <div class="panel-body">
        <div class="col-xs-10">
            <div class="row vertical-align">
                <div class="col-xs-4">
                    <img class="imageClass" [src]="employee.imageUrl" />
                </div>
                <div class="col-xs-8">

                    <div class="row">
                        <div class="col-xs-6">
                            Email
                        </div>
                        <div class="col-xs-6">
                            : {{employee.email}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            Phone Number
                        </div>
                        <div class="col-xs-6">
                            : {{employee.phoneNumber}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            Date of Birth
                        </div>
                        <div class="col-xs-6">
                            : {{employee.dateOfBirth | date}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            Department
                        </div>
                        <div class="col-xs-6" [ngSwitch]="employee.department">
                            :
                            <span *ngSwitchCase="1">Help Desk</span>
                            <span *ngSwitchCase="2">Information Technology</span>
                            <span *ngSwitchCase="3">Human Resources</span>
                            <span *ngSwitchCase="4">Special Operations</span>
                            <span *ngSwitchDefault>Classified</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            Salary
                        </div>
                        <div class="col-xs-6">
                            : {{employee.salary | currency:'USD':true:'1.2-2'}}
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-xs-6">
                            Active
                        </div>
                        <div class="col-xs-6">
                            : {{employee.isActive}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>