<!-- <div>
    <app-show-element-state *ngIf="elements" [all]="getTotalElementsCount()" [solid]="getCountOfSolidElements()"
        [liquid]="getCountOfLiquidElements()" [gas]="getCountOfGasElements()"
        (countRadioButtonSelectionChanged)="onElementCountRadioButtonChange($event)">
    </app-show-element-state>
</div> -->
<table class="table table-striped table-dark">
    <thead class="table-dark">
        <tr>
            <th>Image</th>
            <th>Element Name</th>
            <th>Atomic Number</th>
            <th>Atomic Weight</th>
            <th>Element Symbol</th>
            <th>Element State</th>
            <th><app-show-element-grouping *ngIf="elements" [optionsList]="getElementGroupings()" (valueDropDownUpdated)="onElementGroupDropDownChange($event)"></app-show-element-grouping></th>
            <th>Year of Discovery</th>
        </tr>
    </thead>
    <tbody>
        <ng-container *ngFor="let element of elements;">
            <ng-container *ngIf="selectedElementCountRadioButton=='All' || selectedElementCountRadioButton==element.element_state"> 
                <tr *ngIf="selectedElementGroupDropdown==element.element_group || selectedElementGroupDropdown=='All Groups'">
                    <td><span><a [routerLink]="['/elements', element.atomic_number]"><img class="imageClassTable" [src]="element.element_image" /></a></span></td>
                    <td>{{element.element_name}}</td>
                    <td>{{element.atomic_number}}</td>
                    <td>{{element.atomic_weight}}</td>
                    <td>{{element.element_symbol}}</td>
                    <td>{{element.element_state}}</td>
                    <td>{{element.element_group}}</td>
                    <td>{{element.element_discovery}}</td>
                </tr>
            </ng-container>
        </ng-container>
        <tr *ngIf="!elements">
            <td colspan="5">
                {{statusMessage}}
            </td>
        </tr>
        <tr *ngIf="elements && elements.length==0">
            <td colspan="5">
                No elements to display
            </td>
        </tr>
    </tbody>
</table>