<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employeeForm)">

    <table border="2" style="border-collapse:collapse; font-family:Arial; table-layout: fixed;" [hidden]="unhideFormValidationProperties()">
        <tr style="background-color: rgb(170, 120, 12);">
            <td colspan="3" style="padding: 3px; white-space: nowrap; width: 100%">
                <p style="font-weight: bold; color: white; font-size: 30px">Form Properties - Create Employee</p>
            </td>
        </tr>
        <tr style="background-color: rgb(212, 149, 13); font-weight: bold; color: white; font-size: 25px">
            <td style="padding: 10px; white-space: nowrap; width: 33%">
                <div>touched: {{employeeForm.touched}}</div>
                <div>untouched: {{employeeForm.untouched}}</div>
            </td>
            <td style="padding: 10px; white-space: nowrap; width: 33%">
                <div>pristine: {{employeeForm.pristine}}</div>
                <div>dirty: {{employeeForm.dirty}}</div>
            </td>
            <td style="padding: 10px; white-space: nowrap; width: 33%">
                <div>valid: {{employeeForm.valid}}</div>
                <div>invalid: {{employeeForm.invalid}}</div>
            </td>
        </tr>
    </table>
    <br/>
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Create Employee</h3>
        </div>
        <div class="panel-body">

            <div class="form-group" [class.has-error]="employeeIdControl.invalid && employeeIdControl.touched" [class.has-success]="employeeIdControl.valid">
                <label for="employeeId" class="control-label">Employee ID</label>
                <input required id="employeeId" name="employeeId" [(ngModel)]="newEmployee.employeeId" type="text" class="form-control" #employeeIdControl="ngModel">
                <span class="help-block" *ngIf="employeeIdControl.invalid && employeeIdControl.touched">An employee id is required!</span>
            </div>

            <div class="form-group" [class.has-error]="firstNameControl.invalid && firstNameControl.touched" [class.has-success]="firstNameControl.valid">
                <label for="firstName" class="control-label">First Name</label>
                <input required id="firstName" name="firstName" [(ngModel)]="newEmployee.firstName" type="text" class="form-control" #firstNameControl="ngModel">
                <span class="help-block" *ngIf="firstNameControl.invalid && firstNameControl.touched">The first name is required!</span>
            </div>

            <div class="form-group" [class.has-error]="middleInitialControl.invalid && middleInitialControl.touched" [class.has-success]="middleInitialControl.valid">
                <label for="middleInitial" class="control-label">Middle Initial (Optional)</label>
                <input required id="middleInitial" name="middleInitial" [(ngModel)]="newEmployee.middleInitial" type="text" class="form-control" #middleInitialControl="ngModel">
                <span class="help-block" *ngIf="middleInitialControl.invalid && middleInitialControl.touched">The middle intiial is required, if no middle initial enter 'N/A'!</span>
            </div>

            <div class="form-group" [class.has-error]="lastNameControl.invalid && lastNameControl.touched" [class.has-success]="lastNameControl.valid">
                <label for="lastName" class="control-label">Last Name</label>
                <input required id="lastName" name="lastName" [(ngModel)]="newEmployee.lastName" type="text" class="form-control" #lastNameControl="ngModel">
                <span class="help-block" *ngIf="lastNameControl.invalid && lastNameControl.touched">The last name is required!</span>
            </div>

            <div class="form-group" [class.has-error]="imageUrlControl.invalid && imageUrlControl.touched" [class.has-success]="imageUrlControl.valid">
                <label for="imageUrl" class="control-label">Image URL</label>
                <input required id="imageUrl" name="imageUrl" [(ngModel)]="newEmployee.imageUrl" type="text" class="form-control" #imageUrlControl="ngModel">
                <span class="help-block" *ngIf="imageUrlControl.invalid && imageUrlControl.touched">The image url is required!</span>
            </div>

            <div class="form-group" [class.has-error]="contactPreferenceControl.invalid && contactPreferenceControl.touched" [class.has-success]="contactPreferenceControl.valid">
                <label for="contactPreference" class="control-label">Contact Preference</label>
                <div class="form-control">
                    <label class="radio-inline">
                        <input type="radio" required value="phoneNumber" name="contactPreference" [(ngModel)]="newEmployee.contactPreference" #contactPreferenceControl="ngModel">
                        Phone
                    </label>      
                    <label class="radio-inline">
                        <input type="radio" required value="email" name="contactPreference" [(ngModel)]="newEmployee.contactPreference" #contactPreferenceControl="ngModel">
                        Email
                    </label>
                </div>
                <span class="help-block" *ngIf="contactPreferenceControl.invalid && contactPreferenceControl.touched">Contact Preference is required!</span>
                Contact Preference Selected Value: {{contactPreferenceControl.value}}
            </div>

            <div class="form-group" [class.has-error]="phoneNumberControl.invalid">
                <label for="phoneNumber" class="control-label">Phone Number</label>
                <input [required]="contactPreferenceControl.value=='phoneNumber'" id="phoneNumber" name="phoneNumber" [(ngModel)]="newEmployee.phoneNumber" type="text" class="form-control" #phoneNumberControl="ngModel">
                <span class="help-block" *ngIf="phoneNumberControl.invalid">A phone number is required!</span>
            </div>

            <div class="form-group" [class.has-error]="emailControl.invalid">
                <label for="email" class="control-label">Email</label>
                <input [required]="contactPreferenceControl.value=='email'" email id="email" name="email" required [(ngModel)]="newEmployee.email" type="text" class="form-control" #emailControl="ngModel">
                <span class="help-block" *ngIf="emailControl.invalid">A valid email address is required!</span>
            </div>

            <div class="form-group" [class.has-error]="dateOfBirthControl.invalid && dateOfBirthControl.touched" [class.has-success]="dateOfBirthControl.valid">
                <label for="dateOfBirth" class="control-label">Date of Birth</label>
                <input required id="dateOfBirth" name="dateOfBirth" [(ngModel)]="newEmployee.dateOfBirth" type="date" class="form-control" #dateOfBirthControl="ngModel">
                <span class="help-block" *ngIf="dateOfBirthControl.invalid && dateOfBirthControl.touched">Your date of birth is required (mm/dd/yyyy)!</span>
            </div>

            <!-- This version of the dropdown binds the department object to the option value using [ngValue] -->
            <!-- <div class="form-group" [class.has-error]="departmentControl.invalid && departmentControl.touched" [class.has-success]="departmentControl.valid">
                <label for="department" class="control-label">Department</label>
                <select required id="department" name="department" [(ngModel)]="newEmployee.department" class="form-control" #departmentControl="ngModel">
                    <option [ngValue]="null">Select Department</option>
                    <option *ngFor="let dept of departments" [ngValue]="dept">{{dept.name}}</option>
                </select>
                <span class="help-block" *ngIf="departmentControl.invalid && departmentControl.touched">You must select an option from the dropdown list!</span>
            </div> -->

             <!-- This version of the dropdown binds the department id to the option value using [alue] -->
            <!-- <div class="form-group" [class.has-error]="departmentControl.invalid && departmentControl.touched" [class.has-success]="departmentControl.valid">
                <label for="department" class="control-label">Department</label>
                <select required id="department" name="department" [(ngModel)]="newEmployee.department" class="form-control" #departmentControl="ngModel">
                    <option disabled [ngValue]="null">Select Department</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
                </select>
                <span class="help-block" *ngIf="departmentControl.invalid && departmentControl.touched">You must select an option from the dropdown list!</span>
            </div> -->

            <!-- This is using a custom validator but it is not working properly, I will revisit at a later date -->
            <div class="form-group" [class.has-error]="departmentControl.invalid && departmentControl.touched">
                <label for="department" class="control-label">Department</label>
                <select appSelectValidator id="department" name="department" [(ngModel)]="newEmployee.department" class="form-control" #departmentControl="ngModel">
                    <option value=-1>Select Department</option>
                    <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
                </select>
                <span class="help-block" *ngIf="departmentControl.errors?.['defaultSelected'] && departmentControl.touched">You must select an option from the dropdown list!</span>
            </div>

            <div *ngIf='showSalary' class="form-group" [class.has-error]="salaryControl.invalid && salaryControl.touched" [class.has-success]="salaryControl.valid">
                <label for="salary" class="control-label">Salary</label>
                <input required id="salary" name="salary" [(ngModel)]="newEmployee.salary" type="text" class="form-control" #salaryControl="ngModel">
                <span class="help-block" *ngIf="salaryControl.invalid && salaryControl.touched">The salary is required!</span>
            </div>

            <div class="form-group" [class.has-error]="isActiveControl.invalid && isActiveControl.touched" [class.has-success]="isActiveControl.valid">
                <label for="isActive" class="control-label">Active Employee?</label>
                <div class="form-control" >
                    <label class="checkbox-inline" style="padding-bottom: 20px;">
                        <input type="checkbox" name="isActive" [(ngModel)]="newEmployee.isActive" #isActiveControl="ngModel">
                    </label>      
                </div>
            </div>

        </div>
        <div class="panel-footer">
            <button (click)='onClick()' type="submit" class="btn-primary" [ngClass]='addCSSClasses()' [disabled]="employeeForm.invalid">Save</button>
        </div>
    </div>
</form>

The Employee Form: {{ employeeForm.value | json}}
<br/>
<br/>
The Employee Model: {{ newEmployee | json}}