<!-- <div>
    <app-show-element-state *ngIf="elements" [all]="getTotalElementsCount()" [solid]="getCountOfSolidElements()"
        [liquid]="getCountOfLiquidElements()" [gas]="getCountOfGasElements()"
        (countRadioButtonSelectionChanged)="onElementCountRadioButtonChange($event)">
    </app-show-element-state>
</div> -->
<div class="panel-heading">
    <h3 class="panel-title">{{element.element_name}}</h3>
</div>
<div class="panel-body">
    <div class="col-xs-10">
        <div class="row vertical-align">
            <div class="col-xs-4">
                <img class="imageClass" [src]="element.element_image" />
                <a></a>
            </div>
            <div class="col-xs-8">

                <div class="row">
                    <div class="col-xs-6">
                        Atomic Number
                    </div>
                    <div class="col-xs-6">
                        : {{element.atomic_number}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        Atomic Weight
                    </div>
                    <div class="col-xs-6">
                        : {{element.atomic_weight}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        Element Symbol
                    </div>
                    <div class="col-xs-6">
                        : {{element.element_symbol}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        Element State
                    </div>
                    <div class="col-xs-6">
                        : {{element.element_state}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        Element Group
                    </div>
                    <div class="col-xs-6">
                        : {{element.element_group}}
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-6">
                        Year of Discovery
                    </div>
                    <div class="col-xs-6">
                        : {{element.element_discovery}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>