<div class="container">
  <nav class="navbar navbar-default">
    <ul class="nav navbar-nav">
      <li>
        <a routerLink="home">Home</a>
      </li>
      <li>
        <a routerLink="elements">List Elements</a>
      </li>
      <li>
        <a routerLink="createElement">Create Element</a>
      </li>
      <li>
        <a routerLink="employees">List Employees</a>
      </li>
      <li>
        <a routerLink="createEmployee">Create Employee</a>
      </li>
    </ul>
  </nav>
  <router-outlet></router-outlet>
</div>