<table class="table table-striped table-dark">
    <thead class="table-dark">
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Date of Birth</th>
            <th>Department</th>
            <th>Salary</th>
            <th>Is Active</th>
            <th>Meta (index, isFirst, isLast, isEven, isOdd)</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let employee of employees; trackBy:trackByEmpCode; let i=index; let isFirst=first; let isLast=last; let isEven=even; let isOdd=odd;">
            <td><img class="imageClassTable" [src]="employee.imageUrl" /></td>
            <td>{{employee.firstName}} {{employee.middleInitial}} {{employee.lastName | employeeClearance:employee.department}}</td>
            <td>{{employee.email}}</td>
            <td>{{employee.phoneNumber}}</td>
            <td>{{employee.dateOfBirth | date}}</td>
            <!-- <td>{{employee.department}}</td> -->
            <td [ngSwitch]="employee.department">
                <span *ngSwitchCase="1">Help Desk</span>
                <span *ngSwitchCase="2">Information Technology</span>
                <span *ngSwitchCase="3">Human Resources</span>
                <span *ngSwitchCase="4">Special Operations</span>
                <span *ngSwitchDefault>Classified</span>
            </td>
            <td>{{employee.salary | currency:'USD':true:'1.2-2'}}</td>
            <td>{{employee.isActive}}</td>
            <td>{{i}} : {{isFirst}} : {{isLast}}: {{isEven}} : {{isOdd}}</td>
        </tr>
    </tbody>
</table>