<span>Element Group
    <select id="elementGroups" name="elementGroups" [(ngModel)]="selectedDropDownValue" (ngModelChange)="onDropdownSelection()">
        <option value="All Groups">All Groups</option>
        <option *ngFor="let option of optionsList" [value]="option" >Group {{option}}</option>

    </select>
</span>
